*{
    margin: 0%;
}
.top-header{
    min-height: 3.5em;
    background-color: rgba(206, 221, 223, 0.67);
}
header{
    height: 2.5em;
    text-align: center;
    display: grid;
    place-items: center;
    font-weight: bold;
    font-size: larger;
}
.home-container{
    display: flex;
    margin: 0%;
    padding: 0%;
    height: auto;
}
/* nav starting */
.home-navbar{
    display: block;
    background-color: rgba(206, 221, 223, 0.67);
    min-height: 695px;
}
.nav-content{
    margin-top: 3em;
    display: grid;
    place-items: center;
}
.nav-content i{
    margin-right: .2em;
}
.home-navbar section{
    margin-top: .5em;
    margin-inline: 1em;
}
.home-navbar section a{
    border-radius: 0%;
    border: 1px solid blueviolet;
    background-color: white;
    color: blueviolet;
    width: 10em;
}
.home-navbar section a:hover{
    border-radius: 0%;
    border: 1px solid white;
    background-color: blueviolet;
    color: white;
}

/* nav ended */

/* app list started */
.inner-content{
    width: 100%;
    text-align: center;
    height: 100%;
}
.inner-content .content{
    background-color: rgb(255, 255, 255);
    height: auto;
}
.apps{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 1em;
    height: 10em;
    background-color: rgba(206, 221, 223, 0.67);
    box-sizing: none;
}
.app-details{
    display: flex;
}
.app-details div:nth-child(2){
    margin-left: 1em;
    margin-top: .5em;
}
.app-details div:nth-child(2) a{
    font-size: 20px;
    float: left;

}
.apps img{
    margin: .2em;
    background-color: rgb(150, 150, 223);
    height: 8em;
    width: 10vw;
}
.apps p{
    margin-right: 1em;
    padding: .5em;
    font-weight: bold;
    font-size: larger;
    background-color: rgba(35, 179, 117, 0.785);
    border: 2px solid rgb(17, 171, 104);
}
/* app list ended */

/* adding app */
.content .add-app-img{
    display: grid;
    justify-content: center;
}
.content .add-app-img img{
    margin-block: 3em;
    width: 200px;
    height: 200px;
    background-color: rgb(87, 87, 219);
}
.row{
    margin-block: 2em;
}
.adding-app-btn{
    margin-right: 1em;
    padding: .3em;
    border-radius: 5px;
    font-weight: bold;
    font-size: larger;
    background-color: rgba(35, 179, 117, 0.785);
    border: 2px solid rgb(17, 171, 104);
    transition:all 250ms ease-in-out;
}
.adding-app-btn:hover{
    background-color: rgb(35, 179, 117);
    border: 2px solid rgb(6, 124, 73);
}
/* adding app ended */

/* app details */
.bottom{
    background-color: rgba(206, 221, 223, 0.67);
    margin-inline: 1em;
    height: 600px;
    display: grid;
    place-items: center;
}
.bottom-info{
    height: 400px;
    width: 800px;
    background-color: white;
}
.bottom img{
    height: 300px;
    width: 300px;
    margin: 1em 1em 1em 0;
    background-color: rgba(254, 254, 254, 0.67);
}
/* app details ended */

